site_name: Count App Documentation
site_description: 'Documentation for Count App - A Flutter counter tracking application'
site_author: 'KingBenny101'
site_url: 'https://kingbenny101.github.io/countapp/'
repo_url: 'https://github.com/KingBenny101/countapp'
repo_name: 'KingBenny101/countapp'

theme:
  name: material
  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.footer
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - glightbox

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
      permalink_title: Anchor link to this section
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.keys

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/KingBenny101

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Development: getting-started/development.md
  - API Reference:
      - Classes:
          - BaseCounter: api/base-counter.md
          - CounterFactory: api/counter-factory.md
          - Configuration: api/configuration.md
      - Counter Types:
          - TapCounter: api/tap-counter.md
          - SeriesCounter: api/series-counter.md
      - Providers:
          - CounterProvider: api/counter-provider.md
  - Guides:
      - Using the app: guides/using-the-app.md
      - Counters: guides/counters.md
      - Adding New Counter Types: guides/adding-counter-types.md

copyright: Copyright &copy; 2025 KingBenny101
